name: PR Test

on:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: write
  checks: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check for merge conflicts
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          status=$(gh pr view ${{ github.event.pull_request.number }} -R ${{ github.repository }} --json mergeable --jq .mergeable)
          if [ "$status" = "CONFLICTING" ]; then
            echo "Pull request has merge conflicts. Please resolve them before proceeding."
            exit 1
          fi

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
        with:
          node-version: '20'
          cache: 'npm'
      - run: npm ci
      - run: npm test -- --coverage
      - uses: artiomtr/jest-coverage-report-action@262a7bb0b20c4d1d6b6b026af0f008f78da72788 # v2.3.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          threshold: 60
